.l-flex
    display: flex
    justify-content: space-between
.l-align-center
    align-items: center
.l-flex-wrap
    flex-wrap: wrap
.l-sidebar
    min-width: 188px
.l-main
    flex-grow: 1
    display: flex
    flex-direction: column
    background: #121416
.l-header
    display: flex
    align-items: center
    padding: 8px
.l-section
    margin: 32px 0

.l-footer
    background: black
    padding: 30px 20px

@media (max-width: 567px)
    .l-section
        margin: 30px 0 0
