.features-card
  display: flex
  align-items: center
  height: 404px
  margin: 32px 16px
.card
  position: relative
  width: 360px
  height: 340px
  background: #2c303a
  border-radius: 8px
  padding: 30px
.card-icon
  position: absolute
  top: -32px
  left: 16px
  width: 64px
  height: 64px
  display: flex
  justify-content: center
  align-items: center
  background: black
  border-radius: 8px
.fa-heart,
.fa-comment,
.fa-eye
  font-size: 48px

.card-description
  color: #b7bbc8

.product-item
  width: 360px
  height: 313px
  background: #2c303a
  margin: 32px 16px
.product-item-card
  display: flex
  flex-direction: column
  background: #2c303a
  padding: 8px 16px
  transition: all 0.2s
.procuct-item-message
  font-size: 18px
.product-item-description
  color: #b7bbc8
  margin-top: 0
.product-item-link
  margin-top: 0

.product-item-body
  display: flex
  margin-top: 8px
  img
    width: 40px
    height: 40px
    border-radius: 4px
    margin-right: 8px
.product-item-body-title-text
  margin: 0
.product-item-body-text
  margin-top: 0
.product-item-card-footer
  display: flex
  padding: 8px 0
  margin-top: auto
.product-item-card-footer-card
  background: black
  padding: 2px 4px
  margin-right: 4px
.product-item-card-scalable
  &:hover
    transform: scale(1.05)
    opacity: 0.4
    border-radius: 4px
