@use '../forward' as f

.hero
  display: flex
  margin: 32px
.hero-description-area
  width: 50%
  padding: 30px
.hero-cube:before
  font-size: 36px
.hero-title
  font-size: 48px
  font-weight: bold
  margin: 0
.hero-text
  font-size: 1.1rem

@include f.sm
  .hero
    display: block
    margin: 32px 0
  .hero-description-area
    width: 100%
