@use '../forward' as f

.sidebar
    background: #1F1F26

.get-start-text
    margin: 0.2em
    font-size: 0.8em
    text-align: center
    color: f.$lightgray

.sidebar-menu-title
    font-size: 0.8rem
    margin-bottom: 0.2rem
    margin-left: 16px

.sidebar-menu a
    display: block
    padding-left: 16px

.sidebar-menu a:hover
    background: f.$black

.sidebar-menu-sub-list
    margin-bottom: 16px

@include f.sm
    .sidebar
        display: none
